.footer{display:none}

/* skip menu */
.skip_menu{
    position:relative;
    width:100%
}
.skip_menu a{
    padding:10px 20px;
    border:3px solid #333;
    background:#fff;
    position:absolute;
    left:5px;
    top:-50px;
    z-index: 1000
}
.skip_menu a:active,
.skip_menu a:focus{
    top:5px
}

/* wrapper */
.wrap{
    min-width:980px;
    position: relative;
}

/* top banner */
.top_banner_wrap{
    background:#013a89;
    height:80px
}
.top_banner{
    width:980px;
    margin:auto;
    position:relative
}
.top_banner_close{
    position:absolute;
    right:10px;
    top:10px
}

/* header */
.header{
    position:relative
}

/* logo */
.logo{
    width:980px;
    height:112px;
    margin:auto;
    padding-top:30px;
    box-sizing:border-box
}
.logo img{
    width:117px;
    height:53px
}
.logo span{
    font-weight: 300;
    font-size: 16px;
    color: rgb(34, 34, 34);
    letter-spacing: 0.313em;
    line-height: 1.5em
}

/* gnb */
.gnb{
    height:50px;
    border-top:1px solid rgb(165, 142, 142);
    border-bottom:2px solid rgb(251, 67, 87);
    box-sizing: border-box;
    position:relative;
    z-index:2
}
.gnb ul{
    width:980px;
    height:47px;
    margin:auto;
    display: flex;
    align-items:center;
    position:relative
}
.gnb > ul > li > a{
    font-weight: 500;
    font-size: 16px;
    color: rgb(34, 34, 34);
    line-height: 1.5em;
}
.gnb li{
    margin-right:50px
}
.gnb dl{
    width:160px;
    height:340px;
    position:absolute;
    top:49px;
    padding-left:20px;
    box-sizing: border-box
}
.gnb dl a:hover{
    text-decoration: underline
}
.gnb dt{
    padding:20px 0;
}
.gnb dt a{
    font-weight: 500;
    font-size: 15px;
    color: rgb(34, 34, 34);
    line-height: 1.5em
}
.gnb dd{
    margin-bottom:10px
}
.gnb dd a{
    color:#666
}

.gnb .gnb_sel{
    color:rgb(251, 67, 87)
}
.gnb_2dpt_1{
    left:0px;
    padding-left:0 !important
}
.gnb_2dpt_2{
    left:140px
}
.gnb_2dpt_2::before{
    content:"";
    display:block;
    width:1px;
    height:340px;
    background:#999;
    position:absolute;
    left:0;
    top:20px
}

.gnb_2dpt_3{
    left:300px
}
.gnb_2dpt_3::before{
    content:"";
    display:block;
    width:1px;
    height:340px;
    background:#999;
    position:absolute;
    left:0;
    top:20px
}
.gnb_2dpt_4{
    left:460px
}
.gnb_2dpt_4::before{
    content:"";
    display:block;
    width:1px;
    height:340px;
    background:#999;
    position:absolute;
    left:0;
    top:20px
}
.gnb_2dpt_5{
    left:620px
}
.gnb_2dpt_5::before{
    content:"";
    display:block;
    width:1px;
    height:340px;
    background:#999;
    position:absolute;
    left:0;
    top:20px
}
.gnb_2dpt_6::before{
    content:"";
    display:block;
    width:1px;
    height:340px;
    background:#999;
    position:absolute;
    left:0;
    top:20px
}
.gnb_2dpt_6{
    left:780px
}
.nav_bg{
    width:100%;
    height:400px;
    background:#eee;
    position:absolute;
    left:0;
    top:162px
}
.nav_bg, .gnb dl{display:none}

/* top menu */
.top_menu{
    width:980px;
    margin:auto;
    position:relative
}
.top_menu ul{
    width:280px;
    height: 50px;
    position:absolute;
    right:0;
    top:-136px;
    display:flex;
    justify-content: space-between
}
.top_menu li{
    width:44px;
    height:100%;
    text-align:center;
    
}
.top_menu img{
    width:85%
}
.top_menu span{
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    font-weight: 400;
    white-space: nowrap;
}
.top_menu a:hover span{
    color:#999
}

/* search */
.t_search{
    width: 980px;
    margin:auto;
    position:relative;
    z-index:3
}
.t_search form{
    width:230px;
    height:30px;
    padding-left:5px;
    box-sizing: border-box;
    position:absolute;
    right:10px;
    top:-40px;
    border-left:1px solid #999;
    border-right:1px solid #999;
}
/* .t_search form::before{
    content:"";
    position:absolute;
    left:0;
    top:5px;
    width:1px;
    height:20px;
    background:#999
} */
.t_search input{
    font-size:16px;
    font-weight: 400;
    height:26px;
    width:180px;
    padding-left:10px;
    box-sizing: border-box;
    border:0 none
}
.t_search button{
    width:30px;
    height:30px;
    border:0 none;
    background:transparent
}
.t_search button img{
    width:100%;
}

/* header banner */
.header_banner{
    width:980px;
    margin:auto;
    position: relative
}
.header_banner a{
    position:absolute;
    left:530px;
    top:-125px
}

/* main */


/* main image */
.main_image_wrap{
    height:498px;
    background:#000
}
.main_image{
    width:980px;
    height:100%;
    margin:auto;
    position: relative;
    overflow:hidden
}
.main_image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(
        to right, 
        #000 5%, 
        rgba(0, 0, 0, 0.25) 20%, 
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.25) 80%, 
        #000 95%);
    z-index: 2;
}
.main_image video{
    width:100%;
    height:100%
}
.main_image h2{
    position: absolute;
    top: 170px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    line-height: 1.450em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
    z-index: 2;
    pointer-events: none;
}
.main_image p{
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 239px;
    left: 0;
    max-width: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 1.450em;
    text-overflow: ellipsis;
    z-index: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    pointer-events: none;
}
.controls{
    display: inline-flex;
    position: absolute;
    top: 315px;
    left: 3px;
    z-index: 4
}
.detail_movie_view{
    display: block;
    padding: 5px 30px 5px 18px;
    font-size: 14px;
    color: #343434;
    line-height: 1.429em;
    background: rgba(255, 255, 255, 0.8) url(../images/arrowR_8x13.png) calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}
.play_stop{
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../images/play.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}
.sound_on_off{
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../images/soundOff.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}

/* movie chart */
.movie_chart_wrap{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}
.movie_chart{
    width:980px;
    height:460px;
    margin:auto;
    padding:50px 0 60px;
    box-sizing: border-box;
    position:relative
}
.movie_chart h2{
    font-weight: 700;
    color: #222;
    font-size: 26px;
    line-height: 1.423em;
    margin-bottom:20px
}

.movie_chart h3{
    font-weight: 500;
    color: #666;
    font-size: 24px;
    line-height: 1.423em;
    position:absolute;
    left:140px;
    top:52px
}
.movie_chart h3::before{
    content:"";
    background:#999;
    width:1px;
    height:16px;
    position:absolute;
    left:-22px;
    top:10px
}

.chart_list{
    width:170px;
    height: 295px;
    position:relative
}
.chart_list::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 242px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
    border-radius: 10px;
}
.chart_list img{
    width:100%;
    border-radius: 10px;

}
.age_limit{
    position:absolute;
    right:5px;
    top:5px
}
.screen_type{
    display: flex;
    flex-direction: column;
    position:absolute;
    right:5px;
    bottom:60px;
    z-index:5
}
.screen_type img{
    width:35px;
    height:7px;
    margin-bottom:2px;
    border: 1px solid rgba(223, 223, 223, 0.5);
    border-radius: 2px;
}
.counter{
    position: absolute;
    left: 9px;
    bottom: 55px;
    font-weight: 400;
    font-size: 46px;
    font-style: italic;
    color: #fff;
    line-height: 1em;
    z-index: 3;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.45);
}
.movie_title{
    display: block;
    overflow: hidden;
    font-size: 18px;
    margin-top:5px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.egg img{
    width:16px;
    height:16px;
    vertical-align: middle;
    margin-left:10px
}
.egg_gage{
    margin-right:10px
}

.age12{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/12.svg) no-repeat;
    text-indent: -9999px
}
.age15{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/15.svg) no-repeat;
    text-indent: -9999px
}
.age_all{
    display:block;
    width:20px;
    height:20px;
    background:url(../images/all.svg) no-repeat;
    text-indent: -9999px
}
.d_day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    font-style: normal;
    color: #fb4357;
    letter-spacing: -0.165em;
    text-indent: -0.15em;
    white-space: nowrap;
    margin-top:3px
}